---
import Base from "@/layouts/Base";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.mdx");
  return [
    { params: { tag: "astro" }, props: { posts: allPosts } },
    { params: { tag: "successes" }, props: { posts: allPosts } },
    { params: { tag: "community" }, props: { posts: allPosts } },
    { params: { tag: "blogging" }, props: { posts: allPosts } },
    { params: { tag: "setbacks" }, props: { posts: allPosts } },
    { params: { tag: "learning in public" }, props: { posts: allPosts } },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags.includes(tag));
---

<Base title={tag}>
  <p>Posts tagged with {tag}</p>
  <div>
    {filteredPosts.map((post) => <p><a href={post.url}>{post.frontmatter.title}</a></p>)}
  </div>
</Base>
