---
import BlogPost from "@/components/BlogPost";
import Base from "@/layouts/Base";
const allPosts = await Astro.glob("../pages/posts/*.mdx");
const sorted = allPosts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);
const firstFive = sorted.slice(0, 5);
const title = "Sam Newby";
---

<Base title={title}>
  <p class="text-gray-700 leading-7">
    My name is Sam, I'm a full-stack software engineer from the UK. Currently
    working at <a href="tails.com">Tails.com</a> where I work with Python, TypeScript
    and Vue.js. In my spare time I like to build serverless APIs with AWS SAM and
    Python.
  </p>
  <div class="my-5">
    <h3 class="text-gray-900 font-semibold text-xl mb-5">Latest Posts</h3>
    {
      firstFive.map((post) => (
        <BlogPost
          title={post.frontmatter.title}
          url={post.url}
          date={post.frontmatter.pubDate}
        />
      ))
    }
  </div>
</Base>
