---
import Base from "@/layouts/Base";
const title = "Sam Newby";
---

<Base title={title}>
  <p>
    My name is Sam, I'm a full-stack software engineer from the UK. Currently
    working at <a href="tails.com">Tails.com</a> where I work with Python, TypeScript
    and Vue.js. In my spare time I like to build serverless APIs with AWS SAM and Python.
  </p>
</Base>
