---
import Base from "@/layouts/Base";
import BlogPost from "@/components/BlogPost";
const allPosts = await Astro.glob("../pages/posts/*.mdx");
const title = "Blog - Sam Newby";
---

<Base title={title}>
  <h3 slot="page-intro-title" class="page-title">Blog</h3>
  {
    allPosts.map((post) => (
      <BlogPost
        title={post.frontmatter.title}
        url={post.url}
        date={post.frontmatter.pubDate}
      />
    ))
  }
</Base>
