---
---

<nav class="flex items-center py-5">
  <h1 class="mr-auto font-bold text-2xl">Sam Newby</h1>
  <div class="flex items-center space-x-8">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/posts/">Blog</a>
  </div>
</nav>
